<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Luky baker</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Luky baker" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Luky baker" data-app />
  <meta property="og:title" name="og:title" content="Luky baker" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/font.css" /> 
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/owl-caroulsel.css">
  <link rel="stylesheet" href="/css/owl-caroulsel-default.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/jquery.mmenu.all.css">
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <link rel="stylesheet" href="/css/hover.css" />
  <!-- <script src="/js/jquery.mmenu.min.all.js"></script> -->
</head>

<body>
<div id="page">
    <!-- header pc -->
    <div id="header">
       
        <div class="container"> 
            <!-- cart hotline search mobile -->
            <div class="d-mb-block p-2">
              <div class="d-flex justify-content-between">
                <div class="cart">
                
                  <img src="/images/cart-shopping.png" alt="">
                  <div class="cart-number">
                    <a href="#">10</a>
                </div>
                </div> 
                <div class="hotline">
                  <a href="tel:#">  0983 868 514</a>
                </div>
                <div class="search-header">
                      <div class="btn-search">
                        <i class="fas fa-search"></i>
                      </div>
                    <form action="#" method="get" class="form">
                          <input type="text"  class="form-control" name=""  placeholder="Type text..">
                    </form>
                </div>
              </div>
            </div>
          <!--end cart hotline search mobile -->    
         <div class="row">
            <div class="col-md-2">
              <div class="logo">
                <a href="#"> <img src="/uploaded/logo/logo.jpg" alt=""></a>
              </div> 
            </div> 
         <div class="col-md-10">
            <div class="d-lg-flex justify-content-end align-items-center">
              <div class="menu">  
                <nav id="menu">
                  <ul> 
                    <li class="menu-drop">
                      <a href="">Trang chủ 
                        
                      </a>
                      <div class="d-mb-block btn-megamenu">
                        <i class="fas fa-chevron-up">

                        </i>
                      </div>
                      <ul class="mega-dropdown">
                        <li class="row">
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp đựng bánh</a>
                            </li>
                            <li><a href="#">Hộp giấy</a></li>
                            <li><a href="#">Hộp nhựa</a></li>
                            <li><a href="#">Hộp giấy bã mía</a></li>
                            <li><a href="#">Hộp nhôm</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Túi đựng bánh</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp đựng bánh sinh nhật</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp nhôm đựng</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                        </li>
                      </ul>        
                    </li>
                    <li>
                      <a href="">Lucky Baker</a>
                              
                    </li>
                    <li>
                      <a href="">Sản phẩm</a>
                    </li>
                    <li>
                      <a href="">Thông tin</a>
                    </li>
                    <li>
                      <a href="">Bộ sưu tập</a>
                    </li>
                    <li>
                      <a href="">Liên hệ</a>
                    </li>
                  </ul>
                </nav> 
              </div>
              <div class="cart d-mb-none">
               
                <img src="/images/cart-shopping.png" alt="">
                <div class="cart-number">
                  <a href="#">10</a>
              </div>
              </div> 
              <div class="hotline d-mb-none">
                <a href="tel:#">  0983 868 514</a>
              </div>
              <div class="search-header d-mb-none">
                    <div class="btn-search">
                      <i class="fas fa-search"></i>
                    </div>
                  <form action="#" method="get" class="form">
                        <input type="text"  class="form-control" name=""  placeholder="Type text..">
                  </form>
              </div>
            </div>
         </div> 
         </div>  
          
        </div>
           
    </div>
    <div class="banner">
        <img src="/uploaded/slideshow/banner1.jpg" alt="">
        <div class="content">
          
          <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1> Lorem ipsum dolor sit amet </h1>
              <div class="c10"></div>
              <div class="desc text-line-3">
                Nunc posuere ante id quam congue pellentesque. In viverra erat a erat porta auctor. Aenean fermentum urna ut maximus scelerisque. Donec metus velit, vulputate quis rhoncus quis, mollis sed eros. Etiam scelerisque tempus est, ac congue odio tincidunt non. Nam id turpis ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
              </div>
              <div class="c20"></div>
              <div class="detail">
                  <a class="btn btn-detail bor-30" href="#">Xem chi tiết <i class="fas fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          </div>
          </div>
    </div>
</div>
    <section>
        <div class="section">
            <div class="introduct">
                <div class="container">
                      <div class="list-about">
                         <div class="row">
                            <div class="col-md-4">
                                <div class="item">
                                      <div class="icon">
                                          <img src="/images/like.jpg" alt="">
                                      </div>
                                      <div class="desc">
                                          <h4>
                                            CHẤT LƯỢNG
                                          </h4>
                                          <span class="text-line-1">
                                            Sản xuất trực tiếp theo tiêu chuẩn ISO 22000
                                          </span>
                                      </div>
                                </div>                       
                            </div>
                            <div class="col-md-4">
                              <div class="item">
                                    <div class="icon">
                                        <img src="/images/like.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h4>
                                          CHẤT LƯỢNG
                                        </h4>
                                        <span class="text-line-1">
                                          Sản xuất trực tiếp theo tiêu chuẩn ISO 22000
                                        </span>
                                    </div>
                               
                              </div>
                              
                          </div>
                          <div class="col-md-4">
                            <div class="item">
                            
                                  <div class="icon">
                                      <img src="/images/like.jpg" alt="">
                                  </div>
                                  <div class="desc">
                                      <h4>
                                        CHẤT LƯỢNG
                                      </h4>
                                      <span class="text-line-1">
                                        Sản xuất trực tiếp theo tiêu chuẩn ISO 22000
                                      </span>
                                  </div>
                             
                            </div>
                            
                        </div>
                         </div>
                      </div>
                      <div class="core-product">
                          <div class="section-title">
                            <h2 class="title text-center">Dòng sản phẩm cốt lõi</h2>
                            <div class="desc text-center">
                              Nunc posuere ante id quam congue pellentesque. In viverra erat a erat porta auctor.
                            </div>
                          </div> 
                          <div class="core-product_owl owl-carousel owl-theme">
                            <div class="item">
                                <a href="#">
                                  <div class="img">
                                    <img src="/uploaded/product/product1.jpg" alt="">
                                  </div>   
                                  <div class="content"> 
                                    <h3 class="item-title">
                                      Hộp đựng bánh
                                    </h3>        
                                  </div>
                                </a>
                            </div>
                            <div class="item">
                              <a href="#">
                                <div class="img">
                                  <img src="/uploaded/product/product2.jpg" alt="">
                                </div>   
                                <div class="content"> 
                                  <h3 class="item-title">
                                    Hộp đựng bánh Sinh nhật
                                  </h3>        
                                </div>
                              </a>
                          </div>
                          <div class="item">
                            <a href="#">
                              <div class="img">
                                <img src="/uploaded/product/product3.jpg" alt="">
                              </div>   
                              <div class="content"> 
                                <h3 class="item-title">
                                  Túi đựng bánh
                                </h3>        
                              </div>
                            </a>
                        </div>
                        <div class="item">
                          <a href="#">
                            <div class="img">
                              <img src="/uploaded/product/product2.jpg" alt="">
                            </div>   
                            <div class="content"> 
                              <h3 class="item-title">
                                Hộp đựng bánh
                              </h3>        
                            </div>
                          </a>
                      </div>
                          
                          </div>
                      </div>
                      <div class="about">
                          <div class="row">
                              <div class="col-md-6">
                                <h2 class="title">
                                  Lucky Baker
                                </h2>
                                  <div class="desc pt-3">
                                      <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis efficitur scelerisque. Mauris accumsan dolor ut est imperdiet, vitae varius lorem convallis. Sed ac justo tincidunt</b>
                                      <p>Vivamus pretium fringilla consectetur. Aenean imperdiet velit eu semper lacinia. Praesent risus elit, vestibulum ac enim quis, porttitor aliquam purus. Nulla vel tellus consectetur, dictum odio sed, auctor nisl. Phasellus vel arcu nec odio aliquam porttitor. Curabitur nec augue vel est posuere mollis a quis augue. Curabitur consequat dui dapibus ex laoreet sagittis.</p>
                                  </div>  
                              </div>
                              <div class="col-md-6">
                                  <div class="item">
                                      <div class="video-about">
                                          <img src="/uploaded/background/bg_about.jpg" alt="">
                                          <div class="fancy-video-about">
                                            <a data-fancybox="" class="fancybox__link" data-width="640" data-height="360" href="https://www.youtube.com/embed/4eDGTabywZ0">
                                              <i class="fas fa-play"></i>
                                            </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>     
        </div>
    </section>
    <section>
      <div class="section">
          <div class="featured-products">
              <div class="container">
                  <div class="section-title text-center">
                      <h2 class="title">
                          Sản phẩm nổi bật
                      </h2>
                      <div class="desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident at ullam
                      </div>
                  </div>
                <div class="row">
                      <div class="col-md-3">
                        <div class="item">
                            <a href="#">
                              <img src="/uploaded/product/noibat1.jpg" alt="">
                              <div class="desc">
                                  <h3 class="section-title_desc">
                                      Hộp đựng bánh chữ nhật
                                  </h3>
                                  <div class="code">
                                      Mã sp: BCN 123
                                  </div>
                                  <div class="price">
                                      <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                  </div>
                              </div>
                          </a>
                        </div>
                      </div>
                       <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat2.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>
                       </div>
                       <div class="col-md-3">
                      <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat3.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                      </div>
                        </div>
                       <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat4.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>    
                      </div>
                      <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat5.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>    
                      </div>
                      <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat6.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>    
                      </div>
                      <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat7.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>    
                      </div>
                      <div class="col-md-3">
                        <div class="item">
                          <a href="#">
                            <img src="/uploaded/product/noibat8.jpg" alt="">
                            <div class="desc">
                                <h3 class="section-title_desc">
                                    Hộp đựng bánh chữ nhật
                                </h3>
                                <div class="code">
                                    Mã sp: BCN 123
                                </div>
                                <div class="price">
                                    <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                </div>
                            </div>
                        </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <section>
      <div class="section">
          <div class="article-index">
            <div class="container">
                <div class="section-title text-center">
                    <h2 class="title"> Thông tin nổi bật </h2>
                </div>
                <div class="row">
                  <div class="col-md-4">
                      <div class="item">
                          <a href="#">
                            <div class="img-article">
                               <img src="/uploaded/aticle/baiviet1.jpg" alt="">
                            </div>
                            <div class="date">
                              <i class="far fa-calendar-alt"></i> <span>18/05/2020</span>
                            </div>
                            <div class="desc">
                                <h3 class="section-title_desc">
                                  Lorem ipsum, dolor sit amet consectetur
                                </h3>
                                <p class="text-line-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, excepturi id, fuga repudiandae nesciunt, debitis vero animi modi expedita assumenda aut ipsum quas provident aliquid voluptas minus eum quam exercitationem!
                                </p>
                            </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <a href="#">
                      <div class="item">
                        <div class="img-article">
                          <img src="/uploaded/aticle/baiviet2.jpg" alt="">
                        </div>
                        <div class="date">
                          <i class="far fa-calendar-alt"></i> <span>18/05/2020</span>
                        </div>
                        <div class="desc">
                            <h3 class="section-title_desc">
                              Lorem ipsum, dolor sit amet consectetur
                            </h3>
                            <p class="text-line-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, excepturi id, fuga repudiandae nesciunt, debitis vero animi modi expedita assumenda aut ipsum quas provident aliquid voluptas minus eum quam exercitationem!
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                  <a href="#">
                    <div class="item">
                      <div class="img-article">
                        <img src="/uploaded/aticle/baiviet2.jpg" alt="">
                      </div>
                      <div class="date">
                        <i class="far fa-calendar-alt"></i> <span>18/05/2020</span>
                      </div>
                      <div class="desc">
                          <h3 class="section-title_desc">
                            Lorem ipsum, dolor sit amet consectetur
                          </h3>
                          <p class="text-line-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, excepturi id, fuga repudiandae nesciunt, debitis vero animi modi expedita assumenda aut ipsum quas provident aliquid voluptas minus eum quam exercitationem!
                          </p>
                      </div>
                  </div>
                  </a>
                </div>
                </div>
            </div>
          </div>
      </div>
    </section>
    <section>
      <div class="section">
        <div class="customer_index">
            <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <h2 class="title pt-3 pb-3">
                          Khách hàng của chúng tôi
                      </h2>
                      <div class="desc">
                          <b>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore animi ipsum eaque velit, id, omnis dolore repellendus consequatur accusamus
                          </b>
                          <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium non inventore, dolore iste natus illum totam quam, eligendi quibusdam sapiente excepturi optio qui quod animi ipsa neque rem reprehenderit dolor!
                          </p>
                      </div>
                  </div>
                  <div class="col-md-8">
                      <div class="list-customer">
                          <div class="grid">
                              <div class="item">
                                  <div class="img-customer">
                                      <img src="/uploaded/customer/customer1.jpg" alt="">
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="img-customer">
                                    <img src="/uploaded/customer/customer2.jpg" alt="">
                                </div>
                              </div>
                              <div class="item">
                                  <div class="img-customer">
                                    <img src="/uploaded/customer/customer3.jpg" alt="">
                                </div>
                              </div>
                              <div class="item">
                                  <div class="img-customer">
                                    <img src="/uploaded/customer/customer4.jpg" alt="">
                                </div>
                             </div>
                            <div class="item">
                                <div class="img-customer">
                                  <img src="/uploaded/customer/customer5.jpg" alt="">
                              </div>
                            </div>
                            <div class="item">
                                <div class="img-customer">
                                  <img src="/uploaded/customer/customer6.jpg" alt="">
                              </div>
                           </div>
                          <div class="item">
                              <div class="img-customer">
                                <img src="/uploaded/customer/customer7.jpg" alt="">
                            </div>
                          </div>
                            <div class="item">
                              <div class="img-customer">
                                <img src="/uploaded/customer/customer8.jpg" alt="">
                            </div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="info">
                          <h4>
                            Thông tin liên hệ
                          </h4>
                          <ul>
                            <li>
                              <i class="fas fa-map-marker-alt"></i> 
                              <a href="#"> 24 Nguyễn Văn Hưởng, tổ 6, Phường Giang Biên, Quận Long Biên, H </a>
                            </li>
                            <li>
                              <i class="fas fa-phone-alt"></i>
                              <a href="Tel:"> 0983868514</a>
                            </li>
                            <li>
                              <i class="fas fa-envelope"></i> 
                              <a href="mailto:">info@queenpack.com.vn</a>
                           
                            </li>
                            <li>
                              <i class="fas fa-globe"></i> 
                              <a href="#"> queenpack.com.vn</a>
                              
                            </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info">
                        <h4>
                            Sản phẩm
                        </h4>
                        <ul>
                          <li>
                        
                            <a href="#">Hộp giấy đựng bánh</a>
                          </li>
                          <li>
                            
                            <a href="#"> Túi đựng bánh</a>
                          </li>
                          <li>
                            
                            <a href="#">Hộp nhôm đựng bánh</a>
                         
                          </li>
                          <li>
                           
                            <a href="#">Hộp bánh sinh nhật</a>
                            
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="info">
                      <h4>
                          Về chúng tôi
                      </h4>
                      <ul>
                        <li>
                          <a href="#"> Giới thiệu chung </a>
                        </li>
                        <li>
                          <a href="#"> Chính sách chất lượng</a>
                        </li>
                        <li>                  
                          <a href="#">Mục tiêu chất lượng</a>                   
                        </li>
                       
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                    <h4>
                        Nhận tin mới từ chúng tôi
                    </h4>
                    <ul>
                      <li><a href="#"> Get E-mail updates about our latest shop and special offers.</a></li> 
                    </ul>
                    <div class="send-emai-footer">
                      <form action="#">
                        <input type="text">
                          <a> <i class="fas fa-envelope"></i> </a>
                      </form>
                    </div>
                   <div class="social">
                      <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
            </div>
              </div>
          </div>
      </div>
      <div class="copyright">
        <div class="container">
            &#169; 2022 - Luky baker &#8482;
        </div>
      </div>
    </footer>
</div>
    <a id="backtotop"><i class="fas fa-angle-double-up"></i></a>

  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/slider.js"></script> 
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <!-- <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script> -->
  <script src="/js/script.js"></script>
</body>

</html>


