<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Luky baker</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Luky baker" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Luky baker" data-app />
  <meta property="og:title" name="og:title" content="Luky baker" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/font.css" /> 
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/owl-caroulsel.css">
  <link rel="stylesheet" href="/css/owl-caroulsel-default.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <link rel="stylesheet" href="/css/hover.css" />
  <!-- <script src="/js/jquery.mmenu.min.all.js"></script> -->
</head>

<body>
<div id="page">
    <!-- header pc -->
    <div id="header">
       
        <div class="container"> 
            <!-- cart hotline search mobile -->
            <div class="d-mb-block p-2">
              <div class="d-flex justify-content-between">
                <div class="cart">
                
                  <img src="/images/cart-shopping.png" alt="">
                  <div class="cart-number">
                    <a href="#">10</a>
                </div>
                </div> 
                <div class="hotline">
                  <a href="tel:#">  0983 868 514</a>
                </div>
                <div class="search-header">
                      <div class="btn-search">
                        <i class="fas fa-search"></i>
                      </div>
                    <form action="#" method="get" class="form">
                          <input type="text"  class="form-control" name=""  placeholder="Type text..">
                    </form>
                </div>
              </div>
            </div>
          <!--end cart hotline search mobile -->    
         <div class="row">
            <div class="col-md-2">
              <div class="logo">
                <a href="#"> <img src="/uploaded/logo/logo.jpg" alt=""></a>
              </div> 
            </div> 
         <div class="col-md-10">
            <div class="d-lg-flex justify-content-end align-items-center">
              <div class="menu">  
                <nav>
                  <ul> 
                    <li>
                      <a href="">Trang chủ</a>
                      <ul class="mega-dropdown">
                        <li class="row">
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp đựng bánh</a>
                            </li>
                            <li><a href="#">Hộp giấy</a></li>
                            <li><a href="#">Hộp nhựa</a></li>
                            <li><a href="#">Hộp giấy bã mía</a></li>
                            <li><a href="#">Hộp nhôm</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Túi đựng bánh</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp đựng bánh sinh nhật</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                          <ul class="mega-col">
                            <li class="title">
                              <a href="#">Hộp nhôm đựng</a>
                            </li>
                            <li><a href="#">Túi giấy</a></li>
                            <li><a href="#">Túi nilon</a></li>
                            <li><a href="#">Túi bột ngô</a></li>
                            <li><a href="#">Túi bạc</a></li>
                          </ul>
                        </li>
                      </ul>        
                    </li>
                    <li>
                      <a href="">Lucky Baker</a>
                              
                    </li>
                    <li>
                      <a href="">Sản phẩm</a>
                    </li>
                    <li>
                      <a href="">Thông tin</a>
                    </li>
                    <li>
                      <a href="">Bộ sưu tập</a>
                    </li>
                    <li>
                      <a href="">Liên hệ</a>
                    </li>
                  </ul>
                </nav> 
              </div>
              <div class="cart d-mb-none">
               
                <img src="/images/cart-shopping.png" alt="">
                <div class="cart-number">
                  <a href="#">10</a>
              </div>
              </div> 
              <div class="hotline d-mb-none">
                <a href="tel:#">  0983 868 514</a>
              </div>
              <div class="search-header d-mb-none">
                    <div class="btn-search">
                      <i class="fas fa-search"></i>
                    </div>
                  <form action="#" method="get" class="form">
                        <input type="text"  class="form-control" name=""  placeholder="Type text..">
                  </form>
              </div>
            </div>
         </div> 
         </div>  
          
        </div>
           
    </div>
    <div class="banner-page">
        <img src="/uploaded/slideshow/banner-galleries.png" alt=""> 
        <div class="container">
            <div class="shortcut">
                <div class="item home">
                    <a href="#"><i class="fas fa-home"></i>
                    </a>
                </div>
                <div class="item item-link">
                        <a href="#">Luky sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
    <section>
      <div class="section">
          <div class="featured-products">
              <div class="container">
                  <div class="section-title text-center">
                      <h2 class="title">
                            Hộp đựng bánh
                      </h2>
                      <div class="desc text-center">
                            <img src="/images/cake.png" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolore quidem asperiores, at alias, nostrum praesentium impedit nisi eum facilis fugit vero ad quis eaque eos quae corrupti labore. Eos?</p>
                      </div>
                  </div>
                 <div class="tab-product">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Hộp giấy bã mía</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Hộp giấy Kraft </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Hộp nhựa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Hộp Nhôm</a>
                        </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                      <a href="#">
                                        <img src="/uploaded/product/noibat1.jpg" alt="">
                                        <div class="desc">
                                            <h3 class="section-title_desc">
                                                Hộp đựng bánh chữ nhật
                                            </h3>
                                            <div class="code">
                                                Mã sp: BCN 123
                                            </div>
                                            <div class="price">
                                                <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                            </div>
                                        </div>
                                    </a>
                                  </div>
                                </div>
                                 <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat2.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>
                                 </div>
                                 <div class="col-lg-3 col-md-4">
                                <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat3.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                </div>
                                  </div>
                                 <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat4.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat5.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat6.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat7.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat8.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                              </div>
                            </div>
                          <ul class="pagination">
                            <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item ">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                            </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="row">
                                 <div class="col-">
                                    <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat3.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                </div>
                                </div>
                                 <div class="col-">
                                    <div class="item">
                                        <a href="#">
                                      <img src="/uploaded/product/noibat4.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-">
                                    <div class="item">
                                        <a href="#">
                                          <img src="/uploaded/product/noibat1.jpg" alt="">
                                          <div class="desc">
                                              <h3 class="section-title_desc">
                                                  Hộp đựng bánh chữ nhật
                                              </h3>
                                              <div class="code">
                                                  Mã sp: BCN 123
                                              </div>
                                              <div class="price">
                                                  <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                              </div>
                                          </div>
                                      </a>
                                    </div>
                                  </div>
                                   <div class="col-">
                                    <div class="item">
                                      <a href="#">
                                        <img src="/uploaded/product/noibat2.jpg" alt="">
                                        <div class="desc">
                                            <h3 class="section-title_desc">
                                                Hộp đựng bánh chữ nhật
                                            </h3>
                                            <div class="code">
                                                Mã sp: BCN 123
                                            </div>
                                            <div class="price">
                                                <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                   </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat5.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat6.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat7.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>
                                <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat8.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="row">
                                
                                 <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat2.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>
                                 </div>
                                 <div class="col-md-3">
                                <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat3.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                </div>
                                  </div>
                                 <div class="col-lg-3 col-md-4">
                                  <div class="item">
                                    <a href="#">
                                      <img src="/uploaded/product/noibat4.jpg" alt="">
                                      <div class="desc">
                                          <h3 class="section-title_desc">
                                              Hộp đựng bánh chữ nhật
                                          </h3>
                                          <div class="code">
                                              Mã sp: BCN 123
                                          </div>
                                          <div class="price">
                                              <del>3000&#8363;</del> <b> 2600&#8363;</b>
                                          </div>
                                      </div>
                                  </a>
                                  </div>    
                                </div>    
                        </div>
                    </div>  
                 </div>
                 
               
            </div>
        </div>
      </div>
    </section>
    <section>
        <div class="section">
            <div class="list-product_tab detail-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="section-title text-left">
                            <div class="title">
                                Hộp đựng ba
                            </div>
                            <br>
                            <div class="desc">
                                <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, debitis blanditiis fugit saepe minus odio quam. Veritatis hic sequi fugiat nemo, aperiam eaque quasi explicabo! Dolorem reprehenderit aperiam qui consectetur.</b>
                            </div>
                          </div>
                         
                          
                          <div class="detail-product_desc" id="itemtab_1">
                             
                              <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quibusdam laborum, voluptatem minima ipsam libero laboriosam optio dolor dignissimos at rerum, nobis earum fuga odit asperiores incidunt inventore quis impedit?
                              </p>
                             <div class="text-center">
                              <img src="/uploaded/aticle/detail-aritcle1.png" style="width: 70%; margin: auto; " alt=""> </br> <br>
                             </div>
                                <p>
                                  Etiam sed purus iaculis nulla vestibulum facilisis pellentesque quis velit. Donec sollicitudin, erat ac dignissim egestas, quam mauris pellentesque massa, accumsan cursus mauris felis sit amet libero. Suspendisse eget urna felis. Vivamus non libero rutrum, volutpat nulla et, dapibus odio. Nunc porttitor volutpat mauris, et condimentum turpis pretium eu. Pellentesque quam lorem, tempor at viverra non, aliquam sed nisi. Integer neque eros, facilisis nec ante sit amet, accumsan imperdiet mi. Nunc imperdiet sollicitudin imperdiet. Ut ut condimentum quam, a semper leo.
                                </p>
                              
                                <p>
                                  Etiam sed purus iaculis nulla vestibulum facilisis pellentesque quis velit. Donec sollicitudin, erat ac dignissim egestas, quam mauris pellentesque massa, accumsan cursus mauris felis sit amet libero. Suspendisse eget urna felis. Vivamus non libero rutrum, volutpat nulla et, dapibus odio. Nunc porttitor volutpat mauris, et condimentum turpis pretium eu. Pellentesque quam lorem, tempor at viverra non, aliquam sed nisi. Integer neque eros, facilisis nec ante sit amet, accumsan imperdiet mi. Nunc imperdiet sollicitudin imperdiet. Ut ut condimentum quam, a semper leo.
                                </p>
                                <p>
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quibusdam laborum, voluptatem minima ipsam libero laboriosam optio dolor dignissimos at rerum, nobis earum fuga odit asperiores incidunt inventore quis impedit?
                                </p>
                               <div class="text-center">
                                <img src="/uploaded/aticle/detail-aritcle1.png" style="width: 70%; margin: auto; " alt=""> </br> <br>
                               </div>
                                  <p>
                                    Etiam sed purus iaculis nulla vestibulum facilisis pellentesque quis velit. Donec sollicitudin, erat ac dignissim egestas, quam mauris pellentesque massa, accumsan cursus mauris felis sit amet libero. Suspendisse eget urna felis. Vivamus non libero rutrum, volutpat nulla et, dapibus odio. Nunc porttitor volutpat mauris, et condimentum turpis pretium eu. Pellentesque quam lorem, tempor at viverra non, aliquam sed nisi. Integer neque eros, facilisis nec ante sit amet, accumsan imperdiet mi. Nunc imperdiet sollicitudin imperdiet. Ut ut condimentum quam, a semper leo.
                                  </p>
                                
                                  <p>
                                    Etiam sed purus iaculis nulla vestibulum facilisis pellentesque quis velit. Donec sollicitudin, erat ac dignissim egestas, quam mauris pellentesque massa, accumsan cursus mauris felis sit amet libero. Suspendisse eget urna felis. Vivamus non libero rutrum, volutpat nulla et, dapibus odio. Nunc porttitor volutpat mauris, et condimentum turpis pretium eu. Pellentesque quam lorem, tempor at viverra non, aliquam sed nisi. Integer neque eros, facilisis nec ante sit amet, accumsan imperdiet mi. Nunc imperdiet sollicitudin imperdiet. Ut ut condimentum quam, a semper leo.
                                  </p>
                                  <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quibusdam laborum, voluptatem minima ipsam libero laboriosam optio dolor dignissimos at rerum, nobis earum fuga odit asperiores incidunt inventore quis impedit?
                                  </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    <footer>
      <div class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="info">
                          <h4>
                            Thông tin liên hệ
                          </h4>
                          <ul>
                            <li>
                              <i class="fas fa-map-marker-alt"></i> 
                              <a href="#"> 24 Nguyễn Văn Hưởng, tổ 6, Phường Giang Biên, Quận Long Biên, H </a>
                            </li>
                            <li>
                              <i class="fas fa-phone-alt"></i>
                              <a href="Tel:"> 0983868514</a>
                            </li>
                            <li>
                              <i class="fas fa-envelope"></i> 
                              <a href="mailto:">info@queenpack.com.vn</a>
                           
                            </li>
                            <li>
                              <i class="fas fa-globe"></i> 
                              <a href="#"> queenpack.com.vn</a>
                              
                            </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3">
                    <div class="info">
                        <h4>
                            Sản phẩm
                        </h4>
                        <ul>
                          <li>
                        
                            <a href="#">Hộp giấy đựng bánh</a>
                          </li>
                          <li>
                            
                            <a href="#"> Túi đựng bánh</a>
                          </li>
                          <li>
                            
                            <a href="#">Hộp nhôm đựng bánh</a>
                         
                          </li>
                          <li>
                           
                            <a href="#">Hộp bánh sinh nhật</a>
                            
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="info">
                      <h4>
                          Về chúng tôi
                      </h4>
                      <ul>
                        <li>
                          <a href="#"> Giới thiệu chung </a>
                        </li>
                        <li>
                          <a href="#"> Chính sách chất lượng</a>
                        </li>
                        <li>                  
                          <a href="#">Mục tiêu chất lượng</a>                   
                        </li>
                       
                      </ul>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="info">
                    <h4>
                        Nhận tin mới từ chúng tôi
                    </h4>
                    <ul>
                      <li><a href="#"> Get E-mail updates about our latest shop and special offers.</a></li> 
                    </ul>
                    <div class="send-emai-footer">
                      <form action="#">
                        <input type="text">
                          <a> <i class="fas fa-envelope"></i> </a>
                      </form>
                    </div>
                   <div class="social">
                      <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                   </div>
                </div>
            </div>
              </div>
          </div>
      </div>
      <div class="copyright">
        <div class="container">
            &#169; 2022 - Luky baker &#8482;
        </div>
      </div>
    </footer>
</div>
    <a id="backtotop"><i class="fas fa-angle-double-up"></i></a>

  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/jquery.fancybox.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/slider.js"></script> 
 
  <!-- <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script> -->
  <script src="/js/script.js"></script>

  
</body>

</html>


